<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="StyleSheet" href="informpage/informpage.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="informpage/informpage.js"></script>
</head>
<body>
    <div class="left_box">
        <div class="top_box">
            <a id="logo_box" href="/"><img src="image/music_logo.webp" id="logo"></a>
        </div>
        
        <article>
            <div class="article_title">
                <span class="material-icons">settings</span><h1 class="title_text">通知</h1>
            </div>
            <div class="article_center" id="warning_content">
                {{information}}
            </div>

            <div class="docoration_box">
                <a class="go_back_to_home" href="/">
                    <span class="material-icons" style="font-size: 22px; margin-right: 5px; display: inline-block;vertical-align: middle;">keyboard_return</span><span style="display: inline-block;vertical-align: middle;">Go Back</span>
                </a>
            </div>
        </article>
    </div>
    <footer>
        <p class="blink">~~~~~~~   Enjoy  Music  , Enjoy Life   ~~~~~~~</p>
        <div class="for_line"></div>
        <pre>
            Copyright@       2022/08/20       Author: Allen Chou       Contect by 30033allen@gmail.com       All rights reserved.
        </pre>
    </footer>
</body>
</html>