<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharing Music</title>
    <link rel="StyleSheet" href="Publish_Music/Publish_Music.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="Publish_Music/Publish_Music.js"></script>
</head>
<body>
    <div class="left_box">
        <div class="top_box">
            <a id="logo_box" href="/"><img src="image/music_logo.webp" id="logo"></a>
        </div>
        
        <article>
            <div class="article_title">
                <span class="material-icons">settings</span><h1 class="title_text">分享新聞</h1>
            </div>
            <div class="article_center ">
                <form method="get" action="/database_news" name="enroll_form">
                    <div class="queation">
                        <label>新聞篇名</label><input type="text" name="news_name" required maxlength="30">
                    </div>
                    <div class="queation">
                        <label>新聞內容</label><textarea name="introduction" rows="30" cols="100"></textarea>
                    </div>
                    <div class="queation">
                        <label>標籤(多標籤時請以,分隔)(選填)</label><input type="text" name="label" >
                    </div>
                    <div class="queation">
                        <label>新聞封面(選填)</label><input type="file" name="photo">
                    </div>
                    <div class="submit_area">
                        <input type="submit" value="提交" style="margin-right: 20px;"><input type="reset" value="重新輸入">
                    </div>
                </form>
            </div>

            <div class="docoration_box">
                <a class="go_back_to_home" href="/">
                    <span class="material-icons" style="font-size: 22px; margin-right: 5px; display: inline-block;vertical-align: middle;">keyboard_return</span><span style="display: inline-block;vertical-align: middle;">Go Back</span>
                </a>
            </div>
        </article>
    </div>
    <footer>
        <p class="blink">~~~~~~~   Enjoy  Music  , Enjoy Life   ~~~~~~~</p>
        <div class="for_line"></div>
        <pre>
            Copyright@       2022/08/20       Author: Allen Chou       Contect by 30033allen@gmail.com       All rights reserved.
        </pre>
    </footer>
</body>
</html>